@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

background:linear-gradient(-45deg,#020617,#0f172a,#111827,#1e3a8a);

background-size:400% 400%;

animation:bg 15s ease infinite;

color:white;

}

@keyframes bg{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

.navbar{

background:rgba(255,255,255,.06);

backdrop-filter:blur(20px);

padding:20px;

border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

font-weight:700;

}

.timer{

font-size:24px;

font-weight:700;

color:#38bdf8;

}

.progress{

height:18px;

border-radius:50px;

overflow:hidden;

background:#1e293b;

}

.progress-bar{

font-weight:600;

}

.question-card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border-radius:25px;

padding:40px;

margin-bottom:30px;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 20px 60px rgba(0,0,0,.4);

}

.question-card h2{

margin-top:20px;

line-height:1.6;

font-weight:600;

}

.answer-card{

background:rgba(255,255,255,.08);

padding:30px;

border-radius:25px;

border:1px solid rgba(255,255,255,.08);

margin-bottom:30px;

}

.answer-card label{

font-size:20px;

font-weight:600;

margin-bottom:15px;

display:block;

}

textarea{

width:100%;

height:220px;

resize:none;

padding:20px;

border-radius:18px;

background:rgba(255,255,255,.08);

border:1px solid rgba(255,255,255,.1);

color:white;

font-size:17px;

outline:none;

}

textarea::placeholder{

color:#cbd5e1;

}

.character{

margin-top:15px;

text-align:right;

color:#cbd5e1;

}

.buttons{

display:flex;

justify-content:space-between;

gap:20px;

flex-wrap:wrap;

}

.buttons button{

flex:1;

padding:15px;

font-size:18px;

font-weight:600;

border-radius:50px;

transition:.3s;

}

.buttons button:hover{

transform:translateY(-4px);

}

#voiceBtn{

background:#ef4444;

border:none;

}

#nextBtn{

background:linear-gradient(135deg,#2563eb,#7c3aed);

border:none;

}

#prevBtn{

border:2px solid white;

}

@media(max-width:768px){

.question-card{

padding:25px;

}

.answer-card{

padding:20px;

}

.buttons{

flex-direction:column;

}

textarea{

height:180px;

}

.timer{

font-size:18px;

}

.question-card h2{

font-size:24px;

}

}